.bolgaria-es{

    @import './secondBlock.scss';
    @import './thirdBlock.scss';
    @import './fourhBlock.scss';


    .some-centered-text{
        .container{
            padding: 45px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            .some-text{
                max-width: unset;
            font-size: 18px;

            text-align: center;
            color: $dark_blue;
            font-weight: 600;
            display: block;
            margin: auto ;
            }
        }
    }


    .afterIntro{
        .container{
            min-height: 350px;
            padding: 20px 0 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            h2{
                font-size: 30px;
                font-weight: 600;
                color: $main_blue;
                margin: 0 auto 40px;
                text-align: center;
                margin-bottom: 60px;
            }
            .blocks{
                width: 100%;
                display: grid;
                grid-auto-columns: 1fr;
                grid-template-rows: 1fr;
                gap: 0px 0px; 
                grid-template-areas: 
                ". . .";
                position: relative;
                @media (max-width:767px){
                    grid-template-areas: '.';
                    align-items: center;
                    justify-content: center;
                }
    
                .block{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    position: relative;
                    transition: .25s;
                    @media (max-width:767px){
                        margin-bottom: 75px;
                    }
                    &::before{
                        content: '';
                        width: 200px;
                        height: 200px;
                        position: absolute;
                        background: $second_blue;
                        left: 0;
                        transition: .25s;
                        top: 0; 
                        border-radius: 50%;
                        z-index: 0;
                        transform: translate(100px, -40px);
                        
                        @media (max-width:1200px){
                            transform: translate(75px, -40px);
                        }
                        @media (max-width:1023px){
                            width: 175px;
                            height: 175px;
                            transform: translate(46px, -40px);
                        }
                        @media (max-width:767px){
                            width: 135px;
                            height: 135px;
                            transform: translate(120px, -20px);
                        }
                    }
                    &::after{
                        content: '';
                        width: 200px;
                        height: 200px;
                        position: absolute;
                        border: 1px solid $second_blue;
                        padding: 5px;
                        box-sizing: border-box;
                        left: 0;
                        top: 0; 
                        border-radius: 50%;
                        transition: .25s;
                        z-index: 0;
                        transform: translate(100px, -40px) scale(1.2);
    
                        @media (max-width:1200px){
                            transform: translate(75px, -40px) scale(1.2);
                        }
                        @media (max-width:1023px){
                            width: 175px;
                            height: 175px;
                            transform: translate(46px, -40px)  scale(1.2);
                        }
                        @media (max-width:767px){
                            width: 135px;
                            height: 135px;
                            transform: translate(120px, -20px)  scale(1.2);
                        }
                    }
                    img{
                        width: 100px;
                        // background: $second_blue;
                        padding: 2px;
                        box-sizing: border-box;
                        z-index: 2;
                        position: relative;
                        @media (max-width:1023px){
                            width: 75px;
                        }
                        
                        // border-radius: 50%;
                        
                    }
                    p{
                        position: relative;
                        bottom: -80px;
                        height: 30px;
                        text-align: center;
                        width: 75%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        font-size: 16px;
                        line-height: 19px;
                        color: #009ee1;
                        font-weight: 300;
                        text-align: center;
                        // max-width: 315px;
                        margin: 0 auto 35px;
                        font-weight: 500;
                        transition: .5s;
                        @media (max-width:767px){
                            bottom: -60px;
                            height: auto;
                        }
                    }
    
    
                    &:hover{
                        &::before{
                            background: $main_blue;
                        }
                        &::after{
                            transform: translate(100px, -40px) scale(.9);
                            border-color: $main_blue;
                            background: rgba($color: $main_blue, $alpha: .6);
    
    
                            @media (max-width:1200px){
                                transform: translate(75px, -40px) scale(.9);
                            }
                            @media (max-width:1023px){
                                width: 175px;
                                height: 175px;
                                transform: translate(46px, -40px)  scale(.9);
                            }
                            @media (max-width:767px){
                                width: 135px;
                                height: 135px;
                                transform: translate(120px, -20px)  scale(.9);
                            }
                        }
                    }
    
                   
    
                       
                }
                // grid-template-areas: 
                // ". . .";
            }
        }
    }
}