.info-cards {
    .container{
        .info-card{
            padding: 40px 20px 20px;
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            box-sizing: border-box;
            background: $white_grey;
            margin-bottom: 40px;
            box-shadow: 2px 3px 4px 0 #3f51b5;
            @media (max-width:767px){
                flex-direction: column;
            }
            .info-card-img{
                width: 62px;
                min-width: 62px;
                margin-right: 10px;
                @media (max-width:767px){
                    margin-right: 0;
                    margin-bottom: 15px;
                }
                img{
                    width: 100%;
                    min-width: 62px;

                }
            }
            .info-card-text{
                max-width: 85%;
                @media (max-width:767px){
                    width: 100%;
                }
                .headline{
                    color: $dark_blue;
                    font-size: 22px;
                    font-weight: 700;
                }
                .afterhead{
                    font-size: 18px;
                    color: $dark_blue;
                    margin: 3px 0 8px;
                }
                p{
                    line-height: 25px;
                    font-size: 18px;
                }
                .list{
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    li{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        margin-bottom: 25px;
                        img{
                            margin-right: 7px;
                            width: 30px;
                            
                        }
                        span{
                            max-width: 85%;
                            font-size: 18px;
                            color: $dark_blue;
                            // padding-left: 35px;
                            position: relative;
                        }
                    }
                }
            }
        }
    }
}
